.ControlPanel {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction:column ;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    background: #e98238;
    padding: 20px;
    overflow: scroll;
    box-sizing: border-box;
}

.CheckoutButton {
    width: 150px;
    height: 150px;
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
    background: darkcyan;
}

.CheckoutButton:disabled {
    background: grey;
}

@media(min-width: 500px){
    .ControlPanel {
        width: 100%;
        overflow: hidden;
    }
}