.Burger {
    width: 80%;
    margin: auto;
    height: 250px;
    overflow: scroll;
    text-align: center;
    font-weight: bold;
    font-size: 1.2rem;
    box-sizing: border-box;
}


 @media (min-width:500px){
    .Burger {
        width: 350px;
        height: 300px;
        overflow: hidden;
    }
}


@media (min-width:700px){
    .Burger {
        width: 500px;
        height: 450px;
        overflow: hidden;

    }
} 