.BuildControl {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 16.6%;
    
}

.BuildControl button {
    width: 100px;
    height: 50px;
    padding: 3px;
    margin: 5px;
    border: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.Label {
    font-weight: bold;
    width: 80px;
}

.Less {
    background: #e98238;
}

.More {
    background: chocolate;
}

